airdrop-ng==1.1
airgraph-ng==1.1
alabaster==1.0.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
argcomplete==3.6.3
asgiref==3.11.1
attrs==26.1.0
babel==2.17.0
Brlapi==0.8.8
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.3
cryptography==48.0.0
dasbus==1.7
dbus-python==1.4.0
defusedxml==0.7.1
Django==5.2.13
djangorestframework==3.17.1
docutils==0.22.4
fastapi==0.136.1
filelock==3.29.0
gbinder-python==1.3.1
gps==3.27.5
h11==0.16.0
httptools==0.7.1
idna==3.15
imagesize==2.0.0
Jinja2==3.1.6
lensfun==0.3.4
Levenshtein==0.27.3
libfdt==1.7.2
lit==22.1.5.dev0
louis==3.37.0
lxml==6.1.1
MarkupSafe==3.0.3
meson==1.11.1
netsnmp-python==1.0a1
nftables==0.1
packaging==26.2
psutil==7.2.2
pwquality==1.4.5
pycairo==1.29.0
pycparser==3.0
pydantic==2.13.4
pydantic-extra-types==2.11.2
pydantic-settings==2.14.1
pydantic_core==2.46.4
Pygments==2.20.0
PyGObject==3.56.3
pyinotify==0.9.6
python-dotenv==1.2.2
pytz==2026.1
pyxdg==0.28
ranger-fm==1.9.4
RapidFuzz==3.14.5
Reflector==2023.6.28.0.36.1
requests==2.34.2
roman-numerals-py==3.1.0
setproctitle==1.3.7
snowballstemmer==3.0.1
Sphinx==9.1.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sqlparse==0.5.3
starlette==1.0.0
systemd-python==235
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
ulauncher==5.15.15
urllib3==2.7.0
uvicorn==0.38.0
uvloop==0.22.1
VapourSynth==75
websocket-client==1.9.0
websockets==16.0
wheel==0.47.0
